html {
  font-family: sans-serif;
}

h2 {
  font-size: 16px;
}

.a11y-label {
  margin: 0;
  text-align: left;
  font-size: 1rem;
  width: 98%;
}

body {
  margin: 10px;
  background: #f5f9fa;
}

textarea {
  height: 150px;
  background-color: #f4f7f8;
  border: none;
  border-left: 6px solid #558abb;
  color: #4d4e53;
  width: 90%;
  max-width: 700px;
  font-size: 1.5rem;
  padding: 10px 10px 0px;
}

.playable-buttons {
  text-align: right;
  width: 90%;
  max-width: 700px;
  padding: 5px 10px 5px 26px;
}

canvas {
  background: white;
  border: 1px solid #4d4e53;
  border-radius: 2px;
}

#code {
  height: 150px;
  width: 95%;
}
